/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

// style the background and foreground colors on the atom-text-editor-element
// itself
atom-text-editor {

}

// To style other content in the text editor's shadow DOM, use the ::shadow
// expression
atom-text-editor::shadow .cursor {

}

.theme-one-dark-ui {
  .tab-bar { font-size: 8px; }
  .tree-view { font-size: 9px; }
  .status-bar { font-size: 8px; }
}

.fis {
  &.fis-tree::before {
    font-size: 10px;
    margin-right: 2px;
  }

  &.fis-grammar-status:before {
    font-size: 18px !important;
  }
}
